@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* remove input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.container {
  background: #ffffff;
  border-radius: 0.563rem;
  margin: 1.777rem auto;
  padding: 1.777rem 2.369rem;
  max-width: 100%;
}

h1 {
  margin: 0;
}

h3 {
  margin: 1.333rem 0;
}
.new {
  margin-bottom: 0.583rem;
}

h4 {
  margin: 0;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: minmax(10px, 1fr);
  justify-content: center;
  margin: 1.777rem 0;
}

.inc-exp-container > div {
  color: #ffffff;
  flex: 1;
  padding: 1.777rem;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  background: #97e28e;
}
.inc-exp-container > div:last-of-type {
  background: #d4624e;
}

@media screen and (min-width: 767px) {
  .container {
    min-width: 600px;
  }
  .inc-exp-container {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
  }
}

.inc-head {
  margin-top: 0.563rem;
}

.money {
  color: #ffffff;
  font-size: 1.333rem;
  margin: 0.563rem 0;
}

label {
  display: inline-block;
  margin: 0.75rem 0;
}

label p {
  margin: 0;
}

.text-sm {
  color: #666666;
  font-size: 0.75rem;
}

input[type='text'],
input[type='number'] {
  background: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 0.563rem;
  display: block;
  font-size: 1rem;
  padding: 0.75rem;
  outline: none;
  transition: all 250ms ease;
  width: 100%;
}

input[type='text']:focus,
input[type='number']:focus {
  background: #ffffff;
  border-color: rgba(221, 255, 83, 0.5);
  box-shadow: 0 0 0 4px rgba(221, 255, 83, 0.1);
}

.btn {
  cursor: pointer;
  background: #000000;
  border-radius: 0.563rem;
  box-shadow: var(--box-shadow);
  color: #ffffff;
  border: 0;
  display: block;
  font-size: 1.333rem;
  margin: 1.333rem 0;
  padding: 0.75rem;
  width: 100%;
  transition: all 250ms ease;
}

.btn:hover {
  background: #151515;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1.333rem;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.75rem;
  margin: 0.75rem 0;
}

.list li.plus {
  border-right: 5px solid #97e28e;
}

.list li.minus {
  border-right: 5px solid #d4624e;
}

.delete-btn {
  cursor: pointer;
  background-color: #d4624e;
  border: 0;
  box-shadow: var(--box-shadow);
  color: #fff;
  font-size: 1.777rem;
  line-height: 44px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
